// default styles you want to change overall
// Ex:
body {
  color: #ffffff;
  background: #000000;
  font-size: 16px;
  font-family: 'Open-Sans-Light';
}

a {
  text-decoration: none;
  color: #ffffff;
}
