// default styles you want to change overall
// Ex:
body {
  color: $font-color-std;
  background: #000000;
  font-size: $font-size-std;
  font-family: $font-fam-std;
}

body, 
html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.selector {
  flex: 1;
}

a {
  text-decoration: none;
  color: $font-color-std;
}
